<!DOCTYPE html>
<html>
<head>
	<title>Madlib</title>
	<link rel="stylesheet" type="text/css" href="/static/madlibs.css">
</head>
<body>
	<h1> Madlib!!</h1>

	<h3> Here's your madlib! Good job!
		THIS IS THE NEW ONE </h3>

	<p> There once was a {% if adjs[3] %} {{ adjs[3] }}, {% endif %} 
	 {{ color }} {{ noun }} sitting in the {{ adjs[1] }} McDonald's.
	When {{ person }} went to pick it up, it burst into {{ adjs[0]}} flames in a  totally {% if adjs[2] %} {{ adjs[2] }}, {% endif %} {{ adjective }} way. 
	</p>

</body>
</html>